@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/breakpoints";
@import "./utils/utils";

@import "./base/fonts";
@import "./base/base";
@import "./base/resets";
@import "./base/typography";

@import "./components/buttons";

body {
	margin: 0;
	height: 100%;
}
.hotel-grid {
	margin: 3rem auto;
	display: grid;
	gap: 4rem;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	grid-auto-rows: 30;
	@include media-breakpoint-up(mob) {
		width: 90%;
	}
	@include media-breakpoint-down(md) {
		margin: 0 2rem;
	}
	@include media-breakpoint-only(md) {
		margin: 0 auto;
	}
}
