@import "../../../sass/utils/variables";
@import "../../../sass/utils/breakpoints";
@import "../../../sass/utils/mixins";
.header {
	background-color: $color-white;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	opacity: 0.8;
	height: 10vh;
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4rem 5%;
	top: 0;
	z-index: 999;
	border-radius: 0 0 1rem 1rem;

	&__logo {
		display: block;
		width: 4rem;
		max-width: 30rem;
	}
	nav {
		order: 3;
	}
	&__links {
		display: none;
		color: $color-black;
		list-style: none;
		align-items: center;
		z-index: 999;
		height: 100%;
		&--open {
			@include flex-center;
			position: fixed;
			overflow-y: hidden;
			font-size: 4rem;
			top: 0;
			left: 0;
			height: 100vh;
			width: 100%;
			background: $color-white;
			list-style: none;
		}
		@include media-breakpoint-up(md) {
			display: flex;
		}
	}
	&__item {
		padding: 1rem;
		font-size: 15px;
		color: $color-black;
	}
	&__hamburger {
		font-size: 4rem;
		cursor: pointer;
		z-index: 999;
		order: 4;
		@include media-breakpoint-up(md) {
			display: none;
		}
	}
}
li {
	font-family: "DM Sans";
	font-weight: 400;
}
