.circular-btn-main {
	margin-left: 20px;
	margin-bottom: 2rem;
	display: grid;
	place-items: center;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	font-size: 2rem;
	transition: all 500ms ease;
	color: $color-white;
	background: $color-radical-red;
	&:hover {
		background: darken($color-radical-red, 5%);
	}
}

.btn-main {
	background: $color-radical-red;
	padding: 1rem 4rem;
	border-radius: 1rem;
	color: $color-white;
	border: none;
	cursor: pointer;
	transition: all 500ms ease;
	font-size: 1.8rem;
	font-weight: bold;
	height: 5rem;
	&:hover {
		background: darken($color-radical-red, 10%);
	}
	@include media-breakpoint-down(mob) {
		padding-right: 2rem;
	}
	@media screen and (min-width: 1500px) {
		font-size: 4rem;
		width: 80%;
		padding: 1rem 4rem;
		height: 8rem;
	}
}
