@import "../../../sass/utils/variables";

@import "../../../sass/utils/mixins";

footer {
	@include flex-center;
	background: $color-black;
	color: $color-white;
	width: 100%;
	height: 10rem;
	padding: 2rem;

	ul {
		display: flex;
		justify-content: space-evenly;
		width: 20rem;
		list-style: none;
		font-size: 3rem;
	}
}
