@import "../../sass/utils/mixins";
@import "../../sass/utils/breakpoints";
@import "../../sass/utils/variables";
.contact-us {
	min-height: 100vh;
	margin-top: 15rem;
	@include media-breakpoint-up(md) {
		display: flex;
		padding: 5%;
		justify-content: space-around;
	}
	&__content {
		padding-right: 5rem;
		width: 90%;
		margin: 0 auto;
		@include media-breakpoint-up(md) {
			max-width: 60rem;
		}
		p {
			margin-bottom: 1rem;
		}
		@media screen and (min-width: 2000px) {
			max-width: 80rem;
		}
	}
	@include media-breakpoint-down(md) {
	}
}
input {
	width: 100%;
	@include media-breakpoint-down(md) {
		width: 80%;
		margin-left: 2rem;
	}
	@media screen and (min-width: 2000px) {
		font-size: 2rem;
	}
}
label {
	@include media-breakpoint-down(md) {
		margin-left: 5rem;
	}
	@media screen and (min-width: 2000px) {
		font-size: 3rem;
	}
}

textarea {
	padding: 2rem;
	width: 100%;
	border-radius: 20px;
	margin-top: 1rem;
	@include media-breakpoint-down(md) {
		width: 80%;
		margin-left: 2rem;
	}
	@media screen and (min-width: 2000px) {
		font-size: 2rem;
	}
}
h2,
h1 {
	@include media-breakpoint-down(md) {
		font-size: 2rem;
	}
	@media screen and (min-width: 2000px) {
		font-size: 6rem;
	}
}

p {
	@include media-breakpoint-down(md) {
		font-size: 1.5rem;
	}
	@media screen and (min-width: 2000px) {
		font-size: 4rem;
	}
}
